<h1 class="text-center py-4">Inventories list</h1>
<% @inventories.each do |inventory| %>
  <div class="card border-secondary" style="width: 100%;">
    <div class="card-body text-secondary d-flex justify-content-between align-items-center">
      <div style="width: 30%;">
        <h5 class="card-title"><a href="<%= inventory_path(inventory) %>" class="text-decoration-none text-uppercase font-weight-bold"><%= inventory.name %></a></h5>
        <%= link_to "REMOVE", inventory_path(inventory),data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-decoration-none text-danger" %>
      </div>
      <p class="text-dark" style="width: 68%;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
<% end %>
