<h1 class="text-center py-4">Recipes list</h1>
<% @recipes.each do |recipe| %>
  <div class="card border-secondary mb-2" style="width: 100%;">
    <div class="card-body text-secondary d-flex justify-content-between align-items-center">
      <div style="width: 40%;">
        <h5 class="card-title"><a href="<%= recipe_path(recipe) %>" class="text-decoration-none text-uppercase font-weight-bold"><%= recipe.name %></a></h5>
        <%= button_to "REMOVE", recipe_delete_path(recipe_id: recipe.id), method: :delete, data: { turbo_confirm: "Are you sure? "}, class: "text-decoration-none text-danger", class: "btn btn-danger" %>
      </div>
      <p class="text-dark" style="width: 58%;"><%= recipe.description %></p>
    </div>
  </div>
<% end %>